<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=article.title%> | Redaktionsnetzwerk ExploreTheBuild</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="mb-4"><%=article.title%></h1>
    <div class="text-muted mb-2"><%=article.createdAt.toLocaleDateString()%> um <%=article.createdAt.toLocaleTimeString()%></div>
    <a href="/" class="btn btn-secondary">Startseite</a>
<!--    <a href="/articles/edit/<%=article.id%>" class="btn btn-info">Edit</a>-->
    <div>    <%-article.sanitizedHtml%></div>
</div>
</body>
</html>